*{
    margin: 0;
    padding: 0;
}

body{
    height: 125vh;
    /* background-image: linear-gradient(#D8C7FF, #19006C); */
    background-image: linear-gradient( #6466d7 , #343cdb);
    font-family: 'poppins';
}